.page-body {
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    background: url(../resources/BackgroundImg.png) no-repeat center;
    background-attachment: inherit;
}
.wrapper{
    display: grid;
    grid-template-areas:
            "header"
            "main";
    grid-template-rows: 58px 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 770px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    background-color: rgba(000, 000, 000, 0.3);
}
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.nav-menu-header{
    display: flex;
    justify-content: space-between;
    width: 360px;
}
.nav-header-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-around;
}
.nav-header-item {
    display: flex;
    align-items: center;
}
.nav-header-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
}
.icon-menu{
    display: flex;
    width: 140px;
    align-items: center;

}
.sign-in-menu{
    display: flex;
    width: 180px;
    /*margin-left: 10px;*/
    align-items: center;
}
.sign-in-text{
    /*display: block;*/
    color: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.authorization-form{

    height: 584px;
    width: 444px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: absolute;
    /*border: 2px solid #FF0000;*/
}
.form-container{
    width: 324px;
    margin: 0 auto;
}
.form-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    height: 45px;
}
.sign-up-text{
    color: #434343;
    font-size: 20px;
    line-height: 20px;
}
.log-in-text{
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
}
.button-block{
    display: flex;
    justify-content: space-between;
}
.button-block-text{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.facebook-button{
    background: #305DB8;
}
.google-button{
    background: #DF4A32;
}
.form-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    height: 45px;
    width: 158px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.google-line{
    margin-right: 20px;
}
.button-block-text-google{
    margin-right: 20px;
}
.form-line{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
}
.word-or{
    color: #848484;
}
.text-agree-link{
    margin-left: 6px;
    margin-right: 4px;
    color: #434343;
}
.agreement-link-terms{
    text-decoration: none;
    color: #5dca92;
}
.form-input {
    max-width: 284px;
}

.agreement-link{
    display: flex;
    align-items: center;
    height: 13px;
    margin-bottom: 15px;
}
.form-data {
    margin-bottom: 14px;
    width: 100%;
    padding: 14px 20px 14px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.form-textarea {
    resize: none;
}
.form-data::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.form-data::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.form-data:-ms-input-placeholder {
    /* IE 10+ */
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.form-data:-moz-placeholder {
    /* Firefox 18- */
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.form-button-create {
    width: 324px;
    height: 45px;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    background-color: #5dca92;
    border-radius: 4px;
    border: none;
}
.color-box-absolute{
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;
    top: 25px;
}
.header a:hover {
    color: darkolivegreen;
}
.journey:hover .journey2{
    fill: darkolivegreen;
}
.compass:hover .comp2{
    fill: darkolivegreen;
}
.calendar:hover .calendar2{
    fill: darkolivegreen;
}
.mail:hover .mail2{
    fill: darkolivegreen;
}
.facebook-button:hover{
    background-color: #022263;
}
.google-button:hover{
    background-color: #AB1F09;
}
.form-button-create:hover{
    background-color: #01813F;
}
.agreement-link-terms:hover{
    color: #01813F;
    text-decoration: underline;
}
.radio{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    background: no-repeat center center;
    background-size: 100% 100%;
}
.radio:checked+label::before {
    border: 1px solid #3c8118;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='darkolivegreen' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    background-color: #fff;
}
.radio:not(:disabled):active+label::before {
    background-color: #fff;
    border: 1px solid #01813F;
}
input:focus{
    outline: none !important;
    border: 3px solid #fff;
    box-shadow:  0px 3px 8px rgba(0, 0, 0, 0.21);
}
