.page-body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background: url(../resources/background.png) no-repeat center;
    background-attachment: inherit;
    color: #FFFFFF;
}
.wrapper{
    display: grid;
    grid-template-areas:
            "header-part"
            "main-part"
            "footer-part";
    grid-template-rows: 104px 1fr 37px;
    grid-template-columns: 1fr;
    width: 1022px;
    margin-left: auto;
    margin-right: auto;
}
header-part, main-part, footer-part{
    padding: 20px;
}

.header-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    display: flex;
}
.header-link:hover {
    color: #F26522;

}
.header-contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}
.contact-link:hover {
    color: #F26522;
}
.header-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.contact-link{
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.footer-part{
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}
.main-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    text-align: center;
}
.main-part-block{
    position: relative;
}
.block-text{
    font-size: 18px;
    line-height: 18px;
    margin-top: 10px;
}
.accent-logo-text{
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}
.text-logo{
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    margin-left: 63px;
}
.work-list-item-hover-block {
    display: none;
    background-color: #F26522;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65px;
}
.image-block{
    position: relative;
    width: 100%;
}
.image-block:hover .work-list-item-hover-block {
    display: block;
}
.hover-text-detail{
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
    position: relative;
    width: 240px;
    margin-left: 20px;
}
.hover-text-detail::before {
    content: url(../resources/Vector.png);
    position: absolute;
    right: 20px;
    bottom: 6px;
}
.flex-logo-picture{
    position: absolute;
    top: 31px;
}
.flex-logo-picture-hover{
    display: none;
    position: absolute;
    top: 31px;
}
.header-logo{
    display: flex;
    position: relative;
}
.header-logo:hover .flex-logo-picture-hover{
    display: block;
}


.hover-title{
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    text-align: left;
    margin-left: 20px;
}
.hover-text{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.link-main-part-block{
    text-decoration: none;
    color: #FFFFFF;
}