body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

.title {
    text-align: center;
}

.scroller {
    position: absolute;
    width: 50%;
    margin: 0 20% 0 20%;
    height: 100%;
    font-size: 250%;
    text-align: justify;
    color: #ff6;
    transform: perspective(200px) rotateX(30deg);
}

.scroller div {
    position: absolute;
    top: 100%;
    animation: scroller 30s linear infinite;
}

@keyframes scroller {
    0% {
        top: 50%;
    }

    100% {
        top: -100%;
    }
}