/*305*/
.page-header{
    padding-top: 20px;
    padding-bottom: 10px;
}
.nav-header{

    display: flex;
    justify-content: space-between;
}
.nav-header-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 3px solid yellowgreen;
}
.nav-header-item{
    margin-left: 69px;
}
.nav-header-link{
    text-transform: uppercase;
}
.section-header::before{
    border-bottom: 7px solid ;
}
.share-goods{
    padding-top: 80px;
    padding-bottom: 100px;
}
.goods{
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 600px;
}
.goods-item{
    width: 370px;
    border-bottom: 6px solid #333;
}
.goods-footer{
    color: #828282;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-top: 11px;
}
.goods-readmore{
    text-decoration: none;
    color: #828282;
}
.goods-date{
    margin: 0;
}
.goods-text-wrapper{
    border-bottom: 4px solid #c1c1c1;

}
.goods-text{
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
}
.goods-edit-button{
    vertical-align: middle;
    width: 39px;
    height: 35px;
    background: #330a09 url("../resources/df.png") no-repeat;
}
.goods-image-wrapper{
    display: flex;
}
.goods-title{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
}
.goods-title-wrapper{
    display: inline-block;
    vertical-align: middle;
}
.quotes{
    padding: 20px 15px 20px 20px;
    background-color: #495863;
}
