/*COMMON STYLE*/

.page-body {
    font-family: sans-serif;

}

.container {
    margin: 0 auto;
    max-width: 1170px;
}

/*HEADER STYLE*/
.flex-header-part {
    display: flex;
    flex-direction: column;
    background-image: url(../resources/page1/header-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center;
    height: 369px;
}

.flex-header-nav {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
}

.flex-header-logo {
    display: flex;
    align-items: center;
}

.flex-logo-picture {
    margin: 21px 29px;
}

.flex-logo-text {
    color: #FFFFFF;
}

.flex-header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-flex-header-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.list-item-flex-header-menu {
    font-size: 15px;
    padding-left: 36px;
}

.flex-header-list-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

}

.flex-header-list-link-color-red {
    color: #FF0000;
    text-transform: none;
}

.flex-header-list-link-color-blue {
    color: #14B9D5;
}

.flex-header-button {
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
}

.flex-header-button-button {
    align-items: center;
    background-color: #000000;
    margin: 0 21px;
    border: 4px solid #000;
}

.search {
    width: 17px;
    height: 17px;
}

.flex-header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header-title-text {
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
}

.header-title-button {
    align-items: center;
}

.flex-header-title-button-left {
    display: inline-block;
    background-color: #89CA62;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding: 16px 19px;
    text-decoration: none;
}

.flex-header-title-button-right {
    display: inline-block;
    background-color: #14B9D5;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding: 16px 30px;
    text-decoration: none;
}

.flex-main-part {
    background: #F2F2F2;
}

.main-block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.first-row-block-one {
    margin: 15px;
    background-color: #FFFFFF;
}

.flex-main-part-title {
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    background: #F2F2F2;
    margin: 0;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.block-row {
    display: flex;
    flex-direction: column;
    /*margin: 30px;*/
    /*background-color: #FFFFFF;*/
}

.text-description {
    height: 61px;
    justify-content: center;
    align-items: center;
}

/**/
.grid-part-header-page {
    display: grid;
    background: url(../resources/page2/parallax-bg.jpeg) no-repeat center;
    background-attachment: inherit;
    height: 588px;
    justify-content: center;
    align-content: center;
}

.grid-part-header {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 90px;
}

.grid-part-header-line {
    border-bottom: 3px solid #18B4CF;
    width: 60px;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.list-grid-header-menu {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 58px;
    align-items: center;
}

.grid-main-part-picture-block {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /*justify-content: center;*/
}

.top-rated-img {
    width: 100%;
}

.footer {
    background-color: #000;
    height: 80px;
}

.grid-part-footer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.grid-part-footer-text {
    color: #fff;
}

.grid-part-footer-logo {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
}

.grid-main-part-wrapper {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 259px 418px 416px 259px;
    grid-gap: 44px;
    margin: 60px auto;
    justify-content: center;
    text-align: center;
    grid-template-areas: "item1 item2 item3 item4 item5 item6 item7 item8 item9 item10" "item11 item12 item13 item14 item15 item16 item17 item18 item19 item20" "item21 item22 item23 item24 item25 item26 item27 item28 item29 item30" "item31 item32 item33 item34 item35 item36 item37 item38 item39 item40"
}

.subgrid-1 {
    display: grid;
    grid-template-columns: 483px auto;
    grid-template-rows: 259px;
}

.subgrid-2 {
    display: grid;
    grid-template-columns: 277px;
    grid-template-rows: 210px auto;
}

.subgrid-3 {
    display: grid;
    grid-template-columns: 554px;
    grid-template-rows: 259px auto;
}

.subgrid-content-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
}

.subgrid-content-2 {

}

.subgrid-content-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}

.item1 {
    grid-column: item1/item8;
}

.item2 {
    grid-column: item9/item10;
}

.item3 {
    grid-column: item11/item15;
}

.item4 {
    grid-column: item16/item20;
}

.item5 {
    grid-column: item21/item25;
}

.item6 {
    grid-column: item26/item30;
}

.item7 {
    grid-column: item31/item32;
}

.item8 {
    grid-column: item33/item40;
}

.grid-main-part-block {
    background-color: #F9F7F7;
}