*,
*::after,
*::before {
    box-sizing: border-box;
}

.page,
.page-body {
    height: 100%;
}

.page-body {
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
}

.picture-section {
    display: flex;
    justify-content: center;
}

.item-icon {
    display: flex;
    justify-content: center;
    width: 1280px;
    height: 789px;
}

.page-nav {
    display: flex;
    justify-content: center;
    padding: 30px 30px;
    align-content: stretch;
}

.list {
    padding-left: 0;
    margin: 0;
    text-align: center;

}

.list-item {
    display: inline-block;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 25px;

}

.list-link {
    text-decoration: none;
    color: #FF0000;;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 38px;
    margin-top: 48px;
    color: #373737;
}

.section-description {
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #373737;
    padding-right: 57.5px;
    padding-left: 57.5px;

}

.paragraph-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.get-started-button {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 30px;
    background-color: #FF0000;
    color: #E5E5E5;
    text-decoration: none;
    margin: 84px auto 59px;
    display: flex;
    justify-items: center;
}

.footer-paragraph {
    color: #373737;
    text-align: end;
    padding-right: 30px;

}
